<div class="dashboard-info">
    <div class="row">
        <div class="col-md-12">
            <h2>Statistics</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Product Info:</h2>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Product</th>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version</th>
                        <td>{{ product.version }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ product.notes }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Recent Result Info:</h2>
            <strong>{{ recent_result_date }}</strong>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{ total_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Active</th>
                        <td>{{ active_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Passing</th>
                        <td>{{ passing_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Failing</th>
                        <td>{{ failing_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Issue</th>
                        <td>{{ issue_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bug</th>
                        <td>{{ bug_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Under Construction</th>
                        <td>{{ under_construction_test_case_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">No Results</th>
                        <td>{{ no_result_test_case_count }}</td>
                    </tr>
                </tbody>
            </table>
            {% if no_result_test_case_count > 0 %}
                <div class="alert alert-danger">
                    <strong>Note:</strong> Some tests do not have results...
                </div>
            {% endif %}
        </div>
    </div>
</div>