<style>
    #contextMenu {
      position: absolute;
    }
</style>

{% if user.is_authenticated %}
<ul id="contextMenu" class="dropdown-menu" role="menu">
    <li><a id="delete-testresult-context" class="context-menu-list delete-testresult" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Result</a></li>
    <li><a id="update-testresult-context" class="context-menu-list update-testresult" tabindex="-1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Result</a></li>
    <li><a id="copy-current-testresult-context" class="context-menu-list copy-testresult" tabindex="-1"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy Result to Current</a></li>
    <li id="divide-test-context" class="divider"></li>
    <li><a id="delete-testcase-context" class="context-menu-list delete-testcase" tabindex="-1"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Test</a></li>
    <li><a id="update-testcase-context" class="context-menu-list update-testcase" tabindex="-1"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Test</a></li>
</ul>
{% endif %}


<table id="test-tracker-dashboard" class="table table-bordered test-tracker-dashboard">
    <thead>
        <th class="sortable">Category</th>
        <th class="sortable">Subcategory</th>
        <th class="sortable">Test Case</th>
        {% for date in dates %}
            <th class="sortable">{{ date }}
                <a href="{% url 'daily_stats' product.name product.version date.day date.month date.year %}" class="no-sort daily-stats btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
                {% if user.is_authenticated %}
                    <button data-url="{% url 'delete_results_for_date' product.name product.version date.day date.month date.year %}" class="dashboard-actions result-delete-button no-sort btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                {% endif %}
            </th>
        {% endfor %}
    </thead>

    <tbody id="dashboard-table">
    {% for case in testcases %}
    <tr class="test-case-row test-active-{{ case.testcase.active }} {% if case.testcase.needs_review %}test_case_needs_review{% endif %}"
        data-delete_url="{% url 'delete_testcase' case.testcase.pk %}"
        data-update_url="{% url 'update_testcase' case.testcase.pk %}">
        <td>{{ case.testcase.category.category }}</td>
        <td>{{ case.testcase.subcategory.subcategory }}</td>
        <td>{{ case.testcase.name }}</td>
        {% for r in case.results %}
            {% if r.0 %}
                <td  class="dashboard-status-cell" id="result_{{ r.0.id }}"
                    data-update_url="{% url 'update_result' r.0.pk %}"
                    data-copy_current_url="{% url 'copy_result_to_current_date' product.name product.version r.0.date.day r.0.date.month r.0.date.year r.0.pk %}"
                    data-delete_url="{% url 'delete_testresult' r.0.pk %}" data-result_id="{{ r.0.id }}">
                    <div title="{{ r.0.status.status }}&#10;{{ r.0.author }}&#10;{{ r.0.note }}" class="status-div"
                        style='color: {{ r.0.status.text_hex_color }}; background-color: {{ r.0.status.hex_color }}'>
                        {% if user.is_authenticated %}
                            <a style="color: {{ r.0.status.text_hex_color }};" class="update-testresult" data-result_id="{{ r.0.id }}"
                            data-id="{% url 'update_result' r.0.pk %}" id="link_result_{{ r.0.id }}">
                                {{ r.0.status.status }}
                            </a>
                        {% else %}
                            {{ r.0.status.status }}
                        {% endif %}
                    </div>
                </td>
            {% else %}
                <td style="bgcolor: #d4d6d8;"></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('th').click(function(){
        var table = $(this).parents('thead').eq(0).parents('table').eq(0)
        var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
        this.asc = !this.asc
        if (!this.asc){rows = rows.reverse()}
        for (var i = 0; i < rows.length; i++){table.append(rows[i])}
    })

    $('button .no-sort').click(function() {
        event.stopPropagation();
    })

    function comparer(index) {
        return function(a, b) {
            var valA = getCellValue(a, index), valB = getCellValue(b, index)
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
        }
    }
    function getCellValue(row, index){
        return $(row).children('td').eq(index).text()
    }

    $('.result-delete-button').click(function() {
        x = confirm("Do you really want to delete?");
        if (x) {
            window.location = $(this).data('url');
        }
    })
</script>
