{% extends "test_tracker/layout.html" %}

{% block content %}
<h1>Dashboard Overview</h1>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Active Test Count</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.get_product_string }}</td>
            <td>{{ product.test_case_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="https://aquaveo.com" class="btn btn-large btn-danger outline">Google</a>

{% endblock %}