{% extends "test_tracker/layout.html" %}

{% block test_tracker_content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard Overview</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Active Test Count</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'dashboard' product.name product.version %}">
                        {{ product.get_product_string }}
                    </a></td>
                    <td>{{ product.test_case_count }}</td>
                    <td>
                        {% if user.is_authenticated %}
                        <button type="button" title="Update Product" class="delete-product btn btn-sm btn-primary"
                                data-id="{% url 'update_product' product.pk %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" title="Duplicate Product" class="duplicate-product btn btn-sm btn-success"
                                data-id="{% url 'duplicate_product' product.pk %}">
                            <span class="glyphicon glyphicon-duplicate"></span>
                        </button>
                            {% if user.is_staff %}
                            <button type="button" title="Delete Product" class="update-product btn btn-sm btn-danger"
                                    data-id="{% url 'delete_product' product.pk %}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="http://buildbot.aquaveo.com" class="btn btn-large btn-danger outline">Buildbot</a>

        <!-- Create book button -->
        {% if user.is_authenticated %}
        <button class="create-product btn btn-primary" type="button" name="button">Add Product</button>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".create-product").modalForm({
            formURL: "{% url 'create_product' %}"
        });
        $(".update-product").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".duplicate-product").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
        $(".delete-product").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
    });
</script>
{% endblock %}