{% extends "general/general_layout.html" %}

<!-- Project Header -->
{% block project_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tracker.css' %}">
<script src="{% static 'js/test_tracker.js' %}"></script>
{% endblock %}


<!-- Project Dropdown -->
{% block project_dropdown %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Dashboards <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/TestTracker">Overview</a></li>
        {% for product in products %}
            <li>
                <a href="/TestTracker/dashboard/{{ product.name }}/{{product.version}}">
                    {{ product.name }}-{{ product.version }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
{% endblock %}


<!-- Project Content -->
{% block content %}

<div class="test_tracker_content">
{% block test_tracker_content %}
{% endblock %}
</div>

{% endblock %}