{% extends "test_tracker/layout.html" %}

{% block test_tracker_content %}
<style>
    .modal-stuff {
        padding-left:    15px;
        padding-right:    15px;
        padding-bottom:    15px;
    }

    img {
        width: 100%;
    }
</style>
<div class="modal-stuff container">
        {% if not post_data %}
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1 class="page-header">Upload Test Cases</h1>
        </div>

        <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>

        {{ form.as_p }}


        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        {% endif %}


        {% if post_data %}
            <a href="{% url 'dashboard' product.name product.version %}">Return</a>
        {% endif %}

        {% if success %}
        <div class="alert alert-success">
            Successfully uploaded {{ success }} test result(s)
        </div>
        {% endif %}

        {% if errors %}
        <div class="alert alert-danger">
            Errors:
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

      </div>

    </form>
</div>
{% endblock %}