{% extends "general/general_layout.html" %}


{% block content %}

<style>
  #signin-area {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #username-row {
    margin-bottom: 5px;
  }

  #password-row {
    margin-bottom: 5px;
  }
</style>

<div id="signin-area">
  {% if form.errors %}
    <div id="signin-errors">
      <p>Your username and password didn't match. Please try again.</p>
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div id="signin-form">
    <form id="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div id="username-row">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div id="password-row">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
      <input class="btn btn-success" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    {# Assumes you setup the password_reset view in your URLconf #}
    <a href="{% url 'password_reset' %}">Lost password?</a>
    </form>
  </div>
</div>


{% endblock %}