<!DOCTYPE html>
<html>
<head>
{% load static %}
<!-- JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<!-- Bootstrap Modal Forms -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<!-- Modal Form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Info Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="navbar" class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Projects <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/TestTracker">Test Tracker</a></li>
                    </ul>
                </li>
                {% block project_dropdown %}

                {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
{% block content%}

{% endblock %}
</div>



<script type="text/javascript">
$(document).ready(function() {
    $(".create-product").modalForm({
        formURL: "{% url 'create_product' %}"
    });
});
$(".update-product").each(function () {
    $(this).modalForm({formURL: $(this).data('id')});
});


$(document).ready(function() {
    $(".create-testcase").modalForm({
        formURL: "{% url 'create_testcase' %}"
    });
});
$(".update-testcase").each(function () {
    $(this).modalForm({formURL: $(this).data('id')});
});


$(document).ready(function() {
    $(".create-testresult").modalForm({
        formURL: "{% url 'create_result' %}"
    });
});
$(".update-testresult").each(function () {
    $(this).modalForm({formURL: $(this).data('id')});
});
</script>

</body>
</html>