<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<!-- Bootstrap Modal Forms -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<!-- Local CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block project_head %}
{% endblock %}

<style>
    body {
        padding-top: 65px;
    }
</style>

</head>
<body>

<!-- Modal Form -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Info Tracker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="navbar" class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Projects <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/TestTracker">Test Tracker</a></li>
                    </ul>
                </li>
                {% block project_dropdown %}

                {% endblock %}
            </ul>
            <form class="nav-form navbar-right">
                {% if not user.is_authenticated %}
                <div style="padding-top: 7px; padding-bottom: 7px; padding-right: 25px;">
                    <a class="btn btn-sml btn-success" href="{% url 'login' %}">Login</a>
                </div>
                {% else %}
                <div style="color: white; padding-top: 15px; padding-bottom: 15px; padding-right: 25px;">
                    {{ user.email }} [ <a href="{% url 'logout' %}">logout</a> ]
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
{% block content%}

{% endblock %}
</div>




</body>
</html>